<%= render 'shared/page_header' %>
<div class="users">
	<div class="usersLabel">
		<div class="userId">
			ID
		</div>
		<div class="userName">
			Name
		</div>
		<div class="userInvoices">
			Invoices
		</div>
		<div class="userPaid">
			Paid
		</div>
		<div class="userTotal">
			Total
		</div>
		<div class="userDue">
			Due
		</div>
		<div class="clear"></div>
	</div>
	<%= render @users %>
</div>